p, h1, h2, h3 {
	text-align:center;
}

ul {
	margin-left:120px;
}

ul li {
	font-style: italic;
}

table {
	border:1px solid black;
	border-collapse:collapse;
	background-color: lightblue;
}

th {
	background-color: #6b9eef;
	text-align: center;
}

td {
	font-style: italic;
	text-align: center;
}

a {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
	background-color: #6b9eef;
}

