h1, h2, noscript {
     text-align: center;
}

/*user inputs*/

#interface div {
     text-align: center;
}

#interface input, span {
     margin: 10px 20px;
     width: 100px;
}

#interface button {
     height: 60px;
     width: 150px;
     margin: 10px;
     background-color: darkgray;
}

/*score output*/

#summary {
     background-color: lightgray;
     margin: 10px auto; 
     padding: 20px;
     width: 300px;
}

#summary h2 {
     text-decoration: underline;
     margin-top: 0;
}

#summary table {
     margin: 10px auto;
     border-collapse: collapse;
}

#summary table td, th {
     text-align: left;
     border: solid 1px white;
     padding: 10px;
     margin: 0;
}

#summary table th {
     background-color: darkgray;
}

#summary p {
     margin: 5px;
}

#summary table p:nth-child(2){
     padding-top: 0;
     font-size: 0.75em;
     font-style: italic;
}
