@import url('https://fonts.googleapis.com/css?family=Slabo+27px');

h1, table {
     margin: 20px; 
     font-family: 'Slabo 27px', serif;
}

td {
     padding: 5px;
}

button {
     display: block;
     margin: 20px auto;
     font-family: 'Slabo 27px', serif;
}


